@import "variables";

.yellowBg {
    background-color: $secondary;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1rem;
    line-height: 1.5;

    p {
        margin-bottom: 10px;
    }
}

.paddingTop {
    padding-top: 20px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1.25rem;
    color: $text1;

    &:last-child {
        margin: 0;
    }
}

.buttons {
    min-width: 20%;
    display: flex;
    justify-content: space-between;
}

.lightText {
    color: $text3;
}